/* Breakpoints */

.button-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 36px;
  height: 36px;

  border-radius: 30px;
  border: 1px solid var(--border-color-light-dark);
  background-color: transparent;

  transition-property: border, stroke, background;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-effect);

  &:hover,
  &:focus {
    background-color: var(--primary-text-color);
    border-color: var(--primary-text-color);
  }

  svg {
    --fill: none;
    --stroke: var(--primary-text-color);

    @include tablet {
      width: 18px;
      height: 18px;
    }
  }

  &:hover svg,
  :focus svg {
    --stroke: var(--white-color);
  }

  @include tablet {
    width: 42px;
    height: 42px;
  }

  @include desktop {
    width: 44px;
    height: 44px;
  }
}

.to_home {
  padding: 4px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.42857;
  letter-spacing: -0.28px;
  text-transform: uppercase;
  width: 283px;

  &:hover {
    background-color: var(--white-color);
  }

  @include tablet {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.32px;
  }
}
