.button-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 36px;
  height: 36px;

  border-radius: 30px;
  border: 1px solid var(--border-color-light-dark);
  background-color: transparent;

  transition-property: border, stroke, background;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-effect);

  &:hover,
  &:focus {
    --stroke: var(--white-color);
    background-color: var(--primary-text-color);
    border-color: var(--primary-text-color);
  }

  @media screen and (768px <= width) {
    width: 42px;
    height: 42px;
  }

  @media screen and (1440px <= width) {
    width: 44px;
    height: 44px;
  }
}
