.section {
  padding: 64px 0 64px 0;
  // margin-top: 64px;
  @media (width >=768px) {
    padding: 64px 0 100px 0;
    // margin-top: 64px;
  }
  @media (width >=1440px) {
    padding: 80px 0 120px 0;
    // margin-top: 80px;
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;

  @media (375px<=width) {
    max-width: var(--mobile);
  }

  @media (768px<=width) {
    max-width: var(--tablet);
    padding: 0 32px;
  }

  @media (1440px<=width) {
    max-width: 1280px;
  }
}

.custome-title {
  text-align: start;
}

.custome-subtitle {
  @media (width >=768px) {
    max-width: 540px;
  }
  @media (width >=1440px) {
    max-width: 440px;
  }
}
