.title {
  font-family: var(--base-font);
  font-family: 'Mulish', sans-serif;
  font-weight: 800;
  font-size: 28px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: left;
  color: #050505;

  @include tablet {
    font-size: 40px;
    line-height: 1.1;
  }
}
