.container {
  display: flex;
  flex-direction: column;

  @include mobile {
    width: 283px;
  }

  @include tablet {
    width: 400px;
  }
}

.wrapper {
  padding-bottom: 20px;
}

.logout {
  width: 100%;
  padding-block: 14px;
  gap: 10px;
  border-radius: 30px;
  color: var(--white-color);
  background-color: var(--button-bg);

  font-size: 14px;
  font-weight: 700;
  line-height: 1.42857;
  letter-spacing: -0.28px;
  text-transform: uppercase;

  @include mobile {
    min-width: 283px;
  }
  @include tablet {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.32px;
  }
}

.logout:hover,
.logout:active {
  background-color: var(--primary-text-color);
}

.title_center {
  text-align: center;
}
