.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  margin-top: 64px;
  margin-bottom: 80px;

  @media (375px<=width) {
    max-width: var(--mobile);
  }

  @media (768px<=width) {
    max-width: var(--tablet);
    padding: 0 32px;
    margin-bottom: 100 px;
  }

  @media (1440px<=width) {
    max-width: 1280px;
    margin-top: 80px;
    margin-bottom: 120px;
  }
}
