.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: var(--primary-text-color);
  font-weight: 500;
  transition: all var(--transition-time) var(--transition-effect);
}
