.copyright {
  font-family: 'Mulish', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(5, 5, 5, 0.6);

  @media (768px <=width) {
    font-size: 16px;
    line-height: 1.5;
  }
}
