.userBar {
  position: relative;
}
.userInfo {
  position: relative;
  background-color: var(--hero-bg);
  border-radius: 30px;
  color: var(--white-color);
  padding: 7px 6px 7px 38px;

  @media (768px<=width) {
    padding: 16px 14px 16px 56px;
  }

  &:hover {
    cursor: pointer;
  }

  .avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;

    @media (768px<=width) {
      width: 50px;
      height: 50px;
    }
  }

  .name {
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    .username {
      text-transform: uppercase;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 1.5em;
      letter-spacing: -0.24px;
      text-transform: uppercase;
    }
  }
}

.menu {
  display: flex;
  position: absolute;
  top: 40px;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 4px;
  padding: 16px;
  width: 100%;
  min-width: max-content;
  border-radius: 20px;
  background-color: var(--hero-bg);
  border: 1px solid var(--user-bar-border);
  transition: all var(--transition-time) var(--transition-effect);
  opacity: 0;
  visibility: hidden;

  @media (768px<=width) {
    top: 58px;
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }

  button {
    background-color: transparent;
    border: none;
    color: var(--white-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5em;
    letter-spacing: -0.24px;
    text-transform: uppercase;
    display: flex;
    gap: 2px;
    align-items: center;

    .icon {
      --stroke: var(--white-color);
      width: 18px;
      height: 18px;
      transition: transform var(--transition-time) var(--transition-effect);
      &.active {
        transform: rotate(180deg);
      }
    }
  }
}
