.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    padding: 0 24px;
    color: var(--white-color);
    @media (768px<=width) {
        padding: 0 80px;
    }

    @media screen and (max-width: var(--tablet)) {
        padding: 0 48px;
    }
}