.testimonials_wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  margin-bottom: 80px;

  position: relative;
  // overflow: hidden;

  @media (375px <=width) {
    width: 343px;
    margin-bottom: 80px;
    // height: 394px;
  }

  @media (768px <=width) {
    width: 704px;
    // height: 432px;
    gap: 80px;
    margin-bottom: 100px;
  }

  @media (width >=1440px) {
    width: 822px;
    // height: 432px;
    margin-bottom: 120px;
  }
}

.testimonials_title_wrapper {
  display: flex;
  flex-direction: column;
  // gap: 16px;
  align-items: center;
}

.quotes_wrapper {
  position: absolute;
  top: 80px;
  left: 8px;

  @media (768px <=width) {
    top: 76px;
    left: 40px;
  }
}

.quotes {
  width: 40px;
  height: 32px;
  color: #e9e9e9;

  @media (768px <=width) {
    width: 59px;
    height: 48px;
  }
}
