/* Breakpoints */
$mobile: 375px;
$mobile-max: 767.99px;
$tablet: 768px;
$tablet-max: 1439.99px;
$desktop: 1440px;

.button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  width: 36px;
  height: 36px;

  border-radius: 30px;
  border: 1px solid var(--border-color-light-dark);
  background-color: transparent;

  transition-property: border, stroke, background;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-effect);

  &:hover,
  &:focus {
    background-color: var(--primary-text-color);
    border-color: var(--primary-text-color);
  }

  svg {
    --fill: none;
    --stroke: var(--primary-text-color);

    @media screen and ($tablet <= width) {
      width: 18px;
      height: 18px;
    }
  }

  &:hover svg,
  :focus svg {
    --stroke: var(--white-color);
    --fill: var(--white-color);
  }

  @media screen and ($tablet <= width) {
    width: 42px;
    height: 42px;
  }

  @media screen and ($desktop <= width) {
    width: 44px;
    height: 44px;
  }
}

.active {
  background-color: var(--primary-text-color);
  border-color: var(--primary-text-color);

  svg {
    --stroke: var(--white-color);
    --fill: var(--white-color);
  }
}
