@import url('./assets/fonts/fonts.scss');
@import url('./assets/styles/normalize.scss');
@import url('./assets/styles/reset.scss');
@import url('./assets/styles/variables.scss');

@import url('./assets/styles/base.scss');

@import url('./assets/styles/react-select.scss');
