// SASS Variables
$mobile: 375px;
$mobile-max: 767.99px;
$tablet: 768px;
$tablet-max: 1439.99px;
$desktop: 1440px;

// Mixins
@mixin mobile {
  @media (min-width: $mobile) {
    @content;
  }
}

@mixin mobile-max {
  @media (max-width: $mobile-max) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin tablet-max {
  @media (max-width: $tablet-max) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}
