.submit {
  width: 100%;
  padding-block: 14px;
  gap: 10px;
  background: rgba(5, 5, 5, 0.2);
  border-radius: 30px;

  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.42857;
  letter-spacing: -0.28px;
  text-transform: uppercase;

  @media only screen and (min-width: 375px) {
    min-width: 283px;
  }
}

.submit:hover,
.submit:active {
  color: #fff;
  background-color: #050505;
}
