.submit {
  width: 100%;
  padding-block: 14px;
  gap: 10px;
  color: var(--white-color);
  background-color: var(--button-bg);
  border-radius: 30px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.42857;
  letter-spacing: -0.28px;
  text-transform: uppercase;

  transition: all var(--transition-time) var(--transition-effect);
  &:hover,
  &:active {
    background-color: var(--border-color-dark);
  }

  &:disabled {
    background-color: var(--button-disable-bg);
    color: var(--button-disable-color);
    cursor: default;
  }

  @include tablet {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.32px;
  }
}
