.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 40px;
}

.foodies404 {
  display: block;
  width: 100%;
  height: 80%;
  padding-right: 8vw;
  --fill: red;
  --f: green;
  --cat: rgb(165, 158, 140);
  --cat-eye: var(--primary-text-color);
  --cat-n: var(--primary-text-color);
  --pizza-bg: rgb(197, 202, 180);
  --sausage: var(--primary-text-color);
  --sausage-r: var(--white-color);
  --text: var(--primary-text-color);
  --bg: var(--white-color);
  --l-bg: var(--white-color);
  --plate-r: grey;
  --plate-bg: var(--white-color);
  --box-bg: rgb(167, 166, 166);
  --box-r: grey;
}
